
$fuente-estilo: 'Lato', sans-serif;
$fuente-estilo-italica: italic;
$fuente-tamaño: font-size 16px;

$color-blanco: rgb(255, 255, 255);
$color-celesteclaro: lightblue;
$color-celeste: rgb(76, 153, 240);
$color-azul: darkblue;
$color-azuloscuro: rgb(4, 4, 99);

$color-naranjaclaro: rgb(255, 178, 62);
$color-naranjaoscuro: orange;

$color-grisclaro: rgb(208, 208, 208);
$color-gris: rgb(204, 203, 203);
$color-grisoscuro: grey;

